* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

header {
  background-color: orange;
  width: 100%;
  height: 20%;
}

.main {
  display: flex;
  width: 100%;
  height: 65%;
}

.marcs {
  width: 20%;
  background-color: green;
}

.gameplane {
  width: 60%;
  background-color: black;
}

.best-points {
  width: 20%;
  background-color: green;
}

.gameplay {
  border: 2px green solid;
  display: flex;
  flex-direction: row;
}

canvas {
  border: 1px solid red;
}

footer {
  width: 100%;
  bottom: 0;
  height: 15%;
  background-color: tomato
}