@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: #111111;
	color: #dfdff9;
	font-family: 'Press Start 2P', sans-serif;
	text-shadow: 2px 2px 1px #df0f0f;
}

header {
	width: 100%;
	height: 20%;
	padding: 1%;
	text-align: center;
}

.main {
	display: flex;
	width: 100%;
	height: 65%;
}

.marcs {
	width: 20%;
	display: flex;
	justify-content: center;
}

.gameplane {
	display: flex;
	justify-content: center;
	width: 60%;
	background-color: black;
}

.player-points {
	width: 20%;
	display: flex;
	justify-content: center;
}

#arcade-btn {
	padding: 0;
	display: flex;
	justify-content: center;
}
.restart-btn {
	margin: 60% 0 0 0;
	background-color: rgb(50, 50, 200);
	border-radius: 50% 50%;
	width: 70%;
	height: 3rem;
	font-size: 100%;
	color: #dfdff9;
	font-family: 'Press Start 2P', sans-serif;
	text-shadow: 2px 2px 1px #df0f0f;
	cursor: grab;
}

.gameplay {
	display: flex;
	flex-direction: row;
}

canvas {
	border: 1px solid red;
}

footer {
	width: 100%;
	bottom: 0;
	height: 15%;
	text-align: center;
}
